@import "variables";
@import "bootstrap";
@import "../bower_components/magnific-popup/dist/magnific-popup.css";

body {
  background-color: $color-body;
}

#wrap {
  max-width: $breakpoint-delta;
  margin:  0 auto;
  background-color: white;

  padding: $grid-padding $grid-padding 5px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.caption {
  text-align: center;
}

.thumbnail {
  background-color: $brand-primary;

  img {
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid $thumbnail-border;
  }
}

#aanbod {
  margin-bottom: 40px;
}

#contact {
  padding-top: 10px;
}